{% extends 'base.html.twig' %} {% block title %}Image{% endblock %} {%
    block body %}
    
    <div class="col py-3">
        {{ form_start(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.path) }}
           
            <button type="submit">Soumettre</button>

        {{ form_end(form) }}
    </div>
    </div>
    </div>

    {% endblock %}