{% extends 'base.html.twig' %} {% block title %}Recette{% endblock %} {%
    block body %}
    
    <div class="col py-3">
      <h1>Liste des recettes disponible</h1>
    
      <ul>
        <li>recette 1</li>
        <li>recette 2</li>
      </ul>
      <br>
      {{ form_start(form) }}

        {{ form_row(form.content) }}
        {{ form_row(form.recipe) }}
      
        <button type="submit">Soumettre</button>

      {{ form_end(form) }}
    </div>
    </div>
    </div>
    
    {% endblock %}